.view-issue {
    padding: 12px;
    content: "";
    background: url("images/eye.svg") 0 0 no-repeat;
    background-position: center;
}

#gitlab-error-dialog .modal-header {
    background-color: #f74687;
}
#gitlab-error-dialog .modal-header .dialog-title {
    color: #fff;
}
#gitlab-error-dialog pre {
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
}

#gitlab-panel .resizable-content {
    background-color: white;
}
#gitlab-panel .issue-content {
    padding-right: 30%;
    position: relative;
    height: 100%;
}
#gitlab-panel .issue-content > div {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px;
    box-sizing: border-box;
    word-break: break-word;
}
#gitlab-panel .issue h2 {
    margin-top: 0;
    line-height: 29px;
}
#gitlab-panel .issue h2 small {
    display: block;
    font-size: 12px;
    padding: 5px 0;
}

#gitlab-panel .notes {
    border-left: 1px solid #cdcdcd;
    width: 30%;
    position: absolute;
    right: 0px;
    top: 0px;
}
#gitlab-panel .note {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 10px;
}
#gitlab-panel .notes .author {
    font-weight: 500;
}
#gitlab-panel .notes .created:before {
    content: "\00b7";
    padding: 5px;
}

#gitlab-panel .toolbar .left-icons {
    width: 50%;
    float: left;
}
#gitlab-panel .toolbar .right-icons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    float: left;
}
#gitlab-panel .toolbar .right-icons .btn-group {
    margin-right: 25px;
}

#gitlab-panel .toolbar .btn {
    padding: 4px 12px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    width: 10px;
}
#gitlab-panel .toolbar #mention-issue {
    background-image: url("images/commit.svg");
}

#gitlab-panel .toolbar #close-issue {
    background-image: url("images/commit_close.svg");
}
#gitlab-panel .toolbar #close-issue {
    background-image: url("images/commit_close.svg");
}
#gitlab-panel .toolbar #open-on-gitlab {
    background-image: url("images/link.svg");
}
#gitlab-panel .toolbar #refresh {
    background-image: url("images/refresh.svg");
}
