.view-issue {
    padding: 4px 12px;
    content: "";
    background: url("images/search.svg") 0 0 no-repeat;
    width: 13px;
    height: 13px;
    background-position: center;
    cursor: pointer;
}

#git-error-dialog .modal-header {
    background-color: #f74687;
}
#git-error-dialog .modal-header .dialog-title {
    color: #fff;
}
#git-error-dialog pre {
    white-space: pre;
    word-wrap: normal;
    overflow: scroll;
}

#gitlab-panel .resizable-content {
    background-color: white;
}
#gitlab-panel .issue-content {
    padding-right: 25%;
    position: relative;
    height: 100%;
}
#gitlab-panel .issue-content > div {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 12px;
    box-sizing: border-box;
    word-break: break-all;
}
#gitlab-panel .issue h2 {
    margin-top: 0;
}
#gitlab-panel .comments {
    border-left: 1px solid #cdcdcd;
    width: 25%;
    position: absolute;
    right: 0px;
    top: 0px;
}